<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <h2 class="title2">Register</h2> {{ msg }}
        {% csrf_token %}
      
        <label for="firstname"></label>
        <input type="text" placeholder="John" name="firstname" id="firstname">
      
        <label for="lastname"></label>
        <input type="text" placeholder="Smith" name="lastname" id="lastname">
      
        <label for="username"></label>
        <input type="text" id="username" name="username" required placeholder="Username"><br><br>
      
        <label for="email"></label>
        <input type="email" placeholder="Email or Phone" name="email" id="email">
      
        <label for="password1"></label>
        <input type="password" id="password1" name="password1" required placeholder="Password">
      
        <label for="password2"></label>
        <input type="password" id="password2" name="password2" required placeholder="Confirm your password">
      
        <button type="submit" class="button">Sign up</button>
      </form>
</body>
</html> 
